<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value ="DefaultEndpointsProtocol=https;AccountName=az532;AccountKey=gb4XBXBwkuE2SNpvhahQyG/JHDvAXbBjvboqkDjU7gRQHH9EqlmNCRrp+MKTnNLaV4veVAuwhH9pIzUX5APzAw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>